@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-astral-void text-astral-star;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-astral-void;
}
::-webkit-scrollbar-thumb {
  @apply bg-astral-cosmic rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-astral-glow;
}
